<% layout('layouts/boilerplate')%> 

<div class="row">
    <div class="col-6 offset-1">
        <div class="card mb-5">
            <img src="<%= business.image %>" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= business.title %></h5>
              <p class="text-muted"><%= business.category %> </p>
              <p class="card-text"><%= business.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= business.location.town %></li>
              <li class="list-group-item"><a href="http://www.<%= business.website %>" target="_blank"><%= business.website %></a></li>
              <li class="list-group-item">0<%= business.phone %></li>
            </ul>
            <div class="card-body">
                <a href="/business/<%=business._id%>/edit" class="card-link btn btn-primary">Edit business</a>
                <form class='d-inline' action="/business/<%=business._id%>?_method=DELETE" method="POST">
                    <button class='card-link btn btn-danger'>Delete</button>
                </form>            
            </div>
          </div>
    </div>
    <div class="mb-3 col-4">
        <h2>Leave a review</h2>
        <form class='needs-validation' action="/business/<%=business._id%>/reviews" method="POST" novalidate>
            <div class="mb-3">
                <label class='form-label' for="rating">Rating:</label>
                <input class='form-range' type="range" min='1' max='5' name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class='form-label' for="body">Review</label>
                <textarea class='form-control' name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="invalid-feedback">You cannot leave an empty review.</div>
            </div>
            <button class="btn btn-success mb-3">Submit</button>
        </form>
        <div class="mb-3">
            <% for(let review of business.reviews){ %>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h5 class='card-title'>Rating: <%= review.rating %></h5> 
                        <p class='card-text'><%= review.body %></p>
                        <form action="/business/<%= business._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>


<h1></h1>
<p></p>
<img  alt="">
<p>    
    <a href="/business/<%=business._id%>/edit">Edit business</a>
</p>
<p>
    
</p>

<footer>
    <a href="/business">Back to index</a>
</footer>
